In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
final=pd.read_csv('Final_Data.csv')

In [3]:
def diabetes(df):
    c=0
    for i in range(len(df)):
        if(( df.iloc[i,1].startswith('250.') == True) or ( df.iloc[i,2].startswith('250.') == True) or ( df.iloc[i,3].startswith('250.') == True)):
            c+=1
    return c

In [4]:
diabetes(final)
# 20166 have diag1 or diag2 or diag3 have values 250.xx

20166

In [5]:
final[final['patient_nbr']==88785891]

,patient_nbr,diag_1,diag_2,diag_3,number_diagnoses,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
38307,88785891,250.13,244,490,3,1,1,7,1,OG,...,No,Up,No,No,No,No,No,Ch,Yes,>30
40252,88785891,250.11,244,?,2,1,1,7,1,BC,...,No,Down,No,No,No,No,No,Ch,Yes,<30
40661,88785891,250.13,536,V58,6,1,1,7,5,BC,...,No,Up,No,No,No,No,No,Ch,Yes,>30
44515,88785891,250.11,465,244,3,3,1,7,2,SP,...,No,Up,No,No,No,No,No,Ch,Yes,<30
45147,88785891,250.11,V58,V15,9,1,1,7,2,BC,...,No,Up,No,No,No,No,No,Ch,Yes,<30
45986,88785891,250.1,276,276,9,2,1,7,4,BC,...,No,Up,No,No,No,No,No,Ch,Yes,<30
50167,88785891,8,250.01,V09,7,2,1,7,1,BC,...,No,Up,No,No,No,No,No,Ch,Yes,<30
50393,88785891,250.11,305,V58,6,1,1,7,4,SP,...,No,Up,No,No,No,No,No,Ch,Yes,<30
50773,88785891,250.11,244,V15,6,2,7,7,1,BC,...,No,Up,No,No,No,No,No,Ch,Yes,<30
51519,88785891,250.11,V15,V58,4,2,1,7,1,BC,...,No,Up,No,No,No,No,No,Ch,Yes,<30
52057,88785891,250.11,300,296,5,2,1,7,1,BC,...,No,Up,No,No,No,No,No,Ch,Yes,>30
53771,88785891,250.12,530,578,7,2,1,7,2,BC,...,No,Down,No,No,No,No,No,Ch,Yes,<30
54497,88785891,250.1,244,V02,4,2,1,7,3,BC,...,No,Down,No,No,No,No,No,Ch,Yes,>30
60263,88785891,250.11,540,276,9,1,1,7,8,OG,...,No,Up,No,No,No,No,No,Ch,Yes,>30
62759,88785891,250.11,250.6,536,9,1,1,7,3,OG,...,No,Up,No,No,No,No,No,Ch,Yes,<30
63165,88785891,250.1,305,305,9,2,1,7,4,OG,...,No,Down,No,No,No,No,No,Ch,Yes,>30
65667,88785891,250.11,305,296,4,1,1,7,2,OG,...,No,Up,No,No,No,No,No,Ch,Yes,>30
67968,88785891,250.11,346,244,5,3,1,7,5,OG,...,No,Down,No,No,No,No,No,Ch,Yes,>30
71029,88785891,250.1,276,244,5,2,1,7,1,OG,...,No,Up,No,No,No,No,No,Ch,Yes,<30
72068,88785891,250.13,599,V58,6,1,7,7,2,OG,...,No,Down,No,No,No,No,No,Ch,Yes,>30
74405,88785891,250.02,244,V58,3,2,1,7,1,OG,...,No,Up,No,No,No,No,No,Ch,Yes,<30
74876,88785891,250.13,305,V58,9,2,1,7,2,OG,...,No,Down,No,No,No,No,No,Ch,Yes,<30
75267,88785891,250.1,276,276,9,2,1,7,2,OG,...,No,Down,No,No,No,No,No,Ch,Yes,>30
76525,88785891,250.11,530,112,8,2,1,7,7,OG,...,No,Up,No,No,No,No,No,Ch,Yes,<30
76907,88785891,789,787,250,6,2,1,7,4,OG,...,No,Down,No,No,No,No,No,Ch,Yes,>30
78355,88785891,250.13,305,276,9,1,1,7,7,OG,...,No,Up,No,No,No,No,No,Ch,Yes,<30
78882,88785891,250.13,305,242,4,1,1,7,3,OG,...,No,Up,No,No,No,No,No,Ch,Yes,<30
79202,88785891,250.11,305,V58,7,2,1,7,1,OG,...,No,Up,No,No,No,No,No,Ch,Yes,<30
79467,88785891,250.12,304,296,7,2,1,7,1,OG,...,No,Up,No,No,No,No,No,Ch,Yes,>30
82693,88785891,780,250.03,784,8,2,7,7,2,OG,...,No,Down,No,No,No,No,No,Ch,Yes,>30
87063,88785891,789,250.03,276,9,1,1,7,7,OG,...,No,Down,No,No,No,No,No,Ch,Yes,<30
87854,88785891,250.11,305,V15,9,1,1,7,7,OG,...,No,Up,No,No,No,No,No,Ch,Yes,<30
88392,88785891,250.11,276,276,9,1,1,7,3,OG,...,No,Up,No,No,No,No,No,Ch,Yes,>30
89964,88785891,787,305,250.03,9,1,5,7,6,OG,...,No,Down,No,No,No,No,No,Ch,Yes,>30
90913,88785891,250.13,250.6,536,7,2,1,7,5,OG,...,No,Up,No,No,No,No,No,Ch,Yes,<30
91444,88785891,787,305,305,9,1,1,7,3,OG,...,No,Up,No,No,No,No,No,Ch,Yes,<30
97433,88785891,8,250.01,276,9,2,1,7,5,OG,...,No,Down,No,No,No,No,No,Ch,Yes,<30
97732,88785891,250.13,276,276,9,1,1,7,3,OG,...,No,Up,No,No,No,No,No,Ch,Yes,>30
99950,88785891,250.11,276,305,5,2,1,7,2,OG,...,No,Up,No,No,No,No,No,Ch,Yes,>30
101385,88785891,296,305,292,9,3,7,4,3,OG,...,No,No,No,No,No,No,No,No,No,<30

In [6]:
final['encounter_id'].nunique()

101766

In [7]:
final['patient_nbr'].nunique()

71518

In [8]:
final['diag_1'].unique()

array(['250.83', '276', '648', '8', '197', '414', '428', '398', '434',
       '250.7', '157', '518', '999', '410', '682', '402', '737', '572',
       'V57', '189', '786', '427', '996', '277', '584', '462', '473',
       '411', '174', '486', '998', '511', '432', '626', '295', '196',
       '250.6', '618', '182', '845', '423', '808', '250.4', '722', '403',
       '250.11', '784', '707', '440', '151', '715', '997', '198', '564',
       '812', '38', '590', '556', '578', '250.32', '433', 'V58', '569',
       '185', '536', '255', '250.13', '599', '558', '574', '491', '560',
       '244', '250.03', '577', '730', '188', '824', '250.8', '332', '562',
       '291', '296', '510', '401', '263', '438', '70', '250.02', '493',
       '642', '625', '571', '738', '593', '250.42', '807', '456', '446',
       '575', '250.41', '820', '515', '780', '250.22', '995', '235',
       '250.82', '721', '787', '162', '724', '282', '514', 'V55', '281',
       '250.33', '530', '466', '435', '250.12', 'V53', '789', '566',
       '822', '191', '557', '733', '455', '711', '482', '202', '280',
       '553', '225', '154', '441', '250.81', '349', '?', '962', '592',
       '507', '386', '156', '200', '728', '348', '459', '426', '388',
       '607', '337', '82', '531', '596', '288', '656', '573', '492',
       '220', '516', '210', '922', '286', '885', '958', '661', '969',
       '250.93', '227', '112', '404', '823', '532', '416', '346', '535',
       '453', '250', '595', '211', '303', '250.01', '852', '218', '782',
       '540', '457', '285', '431', '340', '550', '54', '351', '601',
       '723', '555', '153', '443', '380', '204', '424', '241', '358',
       '694', '331', '345', '681', '447', '290', '158', '579', '436',
       '335', '309', '654', '805', '799', '292', '183', '78', '851',
       '458', '586', '311', '892', '305', '293', '415', '591', '794',
       '803', '79', '655', '429', '278', '658', '598', '729', '585',
       '444', '604', '727', '214', '552', '284', '680', '708', '41',
       '644', '481', '821', '413', '437', '968', '756', '632', '359',
       '275', '512', '781', '420', '368', '522', '294', '825', '135',
       '304', '320', '250.31', '669', '868', '496', '250.43', '826',
       '567', '3', '203', '53', '251', '565', '161', '495', '49', '250.1',
       '297', '663', '576', '355', '850', '287', '250.2', '611', '840',
       '350', '726', '537', '620', '180', '366', '783', '11', '751',
       '716', '250.3', '199', '464', '580', '836', '664', '283', '813',
       '966', '289', '965', '184', '480', '608', '333', '972', '212',
       '117', '788', '924', '959', '621', '238', '785', '714', '942',
       '250.23', '710', '47', '933', '508', '478', '844', '7', '736',
       '233', '42', '250.5', '397', '395', '201', '421', '253', '250.92',
       '600', '494', '977', '39', '659', '312', '614', '647', '652',
       '646', '274', '861', '425', '527', '451', '485', '217', '250.53',
       '442', '970', '193', '160', '322', '581', '475', '623', '374',
       '582', '568', '465', '801', '237', '376', '150', '461', '913',
       '226', '617', '987', '641', '298', '790', '336', '362', '228',
       '513', '383', '746', '353', '911', '506', '873', '155', '860',
       '534', '802', '141', 'V45', '396', '310', '341', '242', '719',
       '239', '533', '616', '519', '301', 'V66', '5', '989', '230', '385',
       '300', '853', '871', '570', '848', '463', '9', '934', '250.21',
       '236', '361', '594', '501', '810', '643', '430', '528', '205',
       '791', '983', '992', '490', '172', '171', '622', '306', '863',
       '864', '474', '660', '759', '356', '634', '967', '551', '695',
       '187', '732', '747', '323', '308', '370', '252', '152', '846',
       '164', '365', '718', '48', '266', '720', '94', '344', '797', '170',
       '878', '904', 'V56', '882', '843', '709', '973', '454', '686',
       '939', '487', '229', '991', '483', '357', '692', '796', '693',
       '935', '936', '800', '920', 'V26', '261', '307', '262', '250.9',
       '831', '145', '223', 'V71', '839', '685', 'V54', '35', '34', '179',
       '964', '136', '324', '389', '815', '334', '143', '526', '588',
       '192', 'V67', '394', '917', '88', '219', '325', '792', '717',
       '994', '990', '793', '207', '637', '195', '373', '847', '827',
       '31', '891', '814', 'V60', '703', '865', '352', '627', '378',
       '342', '886', '369', '745', '705', '816', '541', '986', '610',
       '633', '640', '753', '173', '835', '379', '445', '272', '382',
       '945', '619', '881', '250.52', '866', '405', '916', '215', '893',
       '75', '671', '928', '906', '897', '725', '867', '115', '890',
       '734', '521', '674', '470', '834', '146', '696', '524', '980',
       '691', '384', '142', '879', '250.51', '246', '208', '448', '955',
       '653', '149', '245', '735', '883', '854', '952', '838', '194',
       'V43', '163', '216', '147', '354', '27', '477', '318', '880',
       '921', '377', '471', '683', '175', '602', '250.91', '982', '706',
       '375', '417', '131', '347', '870', '148', '862', '61', '817',
       '914', '360', '684', '314', 'V63', '36', '57', '240', '915', '971',
       '795', '988', '452', '963', '327', '731', '842', 'V25', '645',
       '665', '110', '944', '603', '923', '412', '363', '957', '976',
       '698', '299', '700', '273', '974', '97', '529', '66', '98', '605',
       '941', '52', '806', '84', '271', '837', '657', '895', '338', '523',
       '542', '114', '543', '372', 'V70', 'E909', '583', 'V07', '422',
       '615', '279', '500', '903', '919', '875', '381', '804', '704',
       '23', '58', '649', '832', '133', '975', '833', '391', '690', '10',
       'V51'], dtype=object)

### Replacing ? with 'missing' in diag 1,2 and 3

In [9]:
final[final['diag_1']=='?'].shape

(21, 50)

In [10]:
final['diag_1'].replace({'?':'missing'},inplace=True)

In [11]:
final[final['diag_1']=='missing'].shape

(21, 50)

In [12]:
final[final['diag_2']=='?'].shape

(358, 50)

In [13]:
final['diag_2'].replace({'?':'missing'},inplace=True)
final[final['diag_2']=='missing'].shape

(358, 50)

In [14]:
final[final['diag_3']=='?'].shape

(1423, 50)

In [15]:
final['diag_3'].replace({'?':'missing'},inplace=True)
final[final['diag_3']=='missing'].shape

(1423, 50)

In [16]:
final['number_diagnoses'].unique() # no nulls

array([ 1,  9,  6,  7,  5,  8,  3,  4,  2, 16, 12, 13, 15, 10, 11, 14],
      dtype=int64)

In [17]:
final['admission_type_id'].unique() # no nulls

array([6, 1, 2, 3, 4, 5, 8, 7], dtype=int64)

### Replacing admission type id numbers with actual mapping to make the data nominal as it is meant to be

In [18]:
final['admission_type_id'].replace([1,2,3,4,5,6,7,8],
                                   ['Emergency','Urgent','Elective','Newborn','NA','NULL','Trauma Center','Not Mapped'],inplace=True)

In [19]:
final['admission_type_id'].replace(['Not Mapped','Trauma Center'],
                                   ['Not_Mapped','Trauma_Center'],inplace=True)

In [20]:
final['admission_type_id'].value_counts()

Emergency        53990
Elective         18869
Urgent           18480
NULL              5291
NA                4785
Not_Mapped         320
Trauma_Center       21
Newborn             10
Name: admission_type_id, dtype: int64

 ### Replacing discharge disposition id numbers with actual mapping to make the data nominal as it is meant to be

In [21]:
final['discharge_disposition_id'].unique()

array([25,  1,  3,  6,  2,  5, 11,  7, 10,  4, 14, 18,  8, 13, 12, 16, 17,
       22, 23,  9, 20, 15, 24, 28, 19, 27], dtype=int64)

In [22]:
final['discharge_disposition_id'].value_counts().sort_index()

1     60234
2      2128
3     13954
4       815
5      1184
6     12902
7       623
8       108
9        21
10        6
11     1642
12        3
13      399
14      372
15       63
16       11
17       14
18     3691
19        8
20        2
22     1993
23      412
24       48
25      989
27        5
28      139
Name: discharge_disposition_id, dtype: int64

discharge_disposition_id	description
Discharged to home
Discharged/transferred to another short term hospital
Discharged/transferred to SNF
Discharged/transferred to ICF
Discharged/transferred to another type of inpatient care institution
Discharged/transferred to home with home health service
Left AMA
Discharged/transferred to home under care of Home IV provider
Admitted as an inpatient to this hospital
Neonate discharged to another hospital for neonatal aftercare
Expired
Still patient or expected to return for outpatient services
Hospice / home
Hospice / medical facility
Discharged/transferred within this institution to Medicare approved swing bed
Discharged/transferred/referred another institution for outpatient services
Discharged/transferred/referred to this institution for outpatient services
NULL
Expired at home. Medicaid only, hospice.
Expired in a medical facility. Medicaid only, hospice.
Expired, place unknown. Medicaid only, hospice.
Discharged/transferred to another rehab fac including rehab units of a hospital .
Discharged/transferred to a long term care hospital.
Discharged/transferred to a nursing facility certified under Medicaid but not certified under Medicare.
Not Mapped
Unknown/Invalid
Discharged/transferred to a federal health care facility.
Discharged/transferred/referred to a psychiatric hospital of psychiatric distinct part unit of a hospital
Discharged/transferred to a Critical Access Hospital (CAH).
Discharged/transferred to another Type of Health Care Institution not Defined Elsewhere

In [23]:
final['discharge_disposition_id'].replace(np.arange(1,31),  ['ToHome' , 'ToShortTermHosp','ToSNF','ToICF','ToInpatientCareInst','ToHomeWithHomeHealthCare',
                                   'LeftAMA','ToHomeIVProvider','InpatientInSameHosp','AnotherHospNeonatalCare','Expired',
                                   'StillPatientOROutpatient','Hospice/Home','Hospice/Med.Facility','MedicareApprovedSwingBed',
                                   'AnotherInst.Outpatient','SameInst.Outpatient','NULL','ExpiredAtHome.MedicaidOnly',
                                  'ExpiredInMedFacility.MedicaidOnly','ExpiredUnknown.MedicaidOnly','ToRehab','ToLongTermCare',
                                   'ToNursingFac(MedicaidCertified,MedicareNotCertified)','Not_Mapped','Unknown/Invalid',
                                   'ToFederalHealthCareFac.','ToPsychiatricHosp.','ToCAHosp','ToUnknownHCHosp.']
                                   ,inplace=True)

In [24]:
final['discharge_disposition_id'].value_counts()

ToHome                                                  60234
ToSNF                                                   13954
ToHomeWithHomeHealthCare                                12902
NULL                                                     3691
ToShortTermHosp                                          2128
ToRehab                                                  1993
Expired                                                  1642
ToInpatientCareInst                                      1184
Not_Mapped                                                989
ToICF                                                     815
LeftAMA                                                   623
ToLongTermCare                                            412
Hospice/Home                                              399
Hospice/Med.Facility                                      372
ToPsychiatricHosp.                                        139
ToHomeIVProvider                                          108
MedicareApprovedSwingBed                                   63
ToNursingFac(MedicaidCertified,MedicareNotCertified)       48
InpatientInSameHosp                                        21
SameInst.Outpatient                                        14
AnotherInst.Outpatient                                     11
ExpiredAtHome.MedicaidOnly                                  8
AnotherHospNeonatalCare                                     6
ToFederalHealthCareFac.                                     5
StillPatientOROutpatient                                    3
ExpiredInMedFacility.MedicaidOnly                           2
Name: discharge_disposition_id, dtype: int64

 ### Replacing admission source id numbers with actual mapping to make the data nominal as it is meant to be

In [25]:
final['admission_source_id'].value_counts()

7     57494
1     29565
17     6781
4      3187
6      2264
2      1104
5       855
3       187
20      161
9       125
8        16
22       12
10        8
11        2
14        2
25        2
13        1
Name: admission_source_id, dtype: int64

In [26]:
final['admission_source_id'].replace(np.arange(1,27),['PhysicianReferral','ClinicReferral','HMOReferral','Transferfromahospital',' TransferfromaSkilledNursingFacility(SNF)',
 'Transferfromanotherhealthcarefacility', 'EmergencyRoom',
'Court/LawEnforcement','NotAvailable',
'Transferfromcritialaccesshospital','NormalDelivery',
'PrematureDelivery', 'SickBaby',
'ExtramuralBirth','NotAvailable','','NULL',
 'TransferFromAnotherHomeHealthAgency',
'ReadmissiontoSameHomeHealthAgency',
'NotMapped','Unknown/Invalid',
'Transferfromhospitalinpt/samefacresultinasepclaim',
'Borninsidethis hospital',' Bornoutsidethishospital',
'TransferfromAmbulatorySurgeryCenter',
'TransferfromHospice'],inplace=True)

In [27]:
final['admission_source_id'].value_counts()

EmergencyRoom                                        57494
PhysicianReferral                                    29565
NULL                                                  6781
Transferfromahospital                                 3187
Transferfromanotherhealthcarefacility                 2264
ClinicReferral                                        1104
 TransferfromaSkilledNursingFacility(SNF)              855
HMOReferral                                            187
NotMapped                                              161
NotAvailable                                           125
Court/LawEnforcement                                    16
Transferfromhospitalinpt/samefacresultinasepclaim       12
Transferfromcritialaccesshospital                        8
ExtramuralBirth                                          2
TransferfromAmbulatorySurgeryCenter                      2
NormalDelivery                                           2
SickBaby                                                 1
Name: admission_source_id, dtype: int64

In [28]:
final['medical_specialty'].value_counts()

?                                    49949
InternalMedicine                     14635
Emergency/Trauma                      7565
Family/GeneralPractice                7440
Cardiology                            5352
Surgery-General                       3099
Nephrology                            1613
Orthopedics                           1400
Orthopedics-Reconstructive            1233
Radiologist                           1140
Pulmonology                            871
Psychiatry                             854
Urology                                685
ObstetricsandGynecology                671
Surgery-Cardiovascular/Thoracic        652
Gastroenterology                       564
Surgery-Vascular                       533
Surgery-Neuro                          468
PhysicalMedicineandRehabilitation      391
Oncology                               348
Pediatrics                             254
Hematology/Oncology                    207
Neurology                              203
Pediatrics-Endocrinology               159
Otolaryngology                         125
Endocrinology                          120
Surgery-Thoracic                       109
Psychology                             101
Podiatry                               100
Surgery-Cardiovascular                  98
                                     ...
Anesthesiology-Pediatric                19
Obstetrics                              19
Pathology                               17
Rheumatology                            17
OutreachServices                        12
Anesthesiology                          12
PhysicianNotFound                       11
Surgery-Maxillofacial                   11
Surgery-Colon&Rectal                    11
Pediatrics-Neurology                    10
Endocrinology-Metabolism                 8
Surgery-Pediatric                        8
Cardiology-Pediatric                     7
AllergyandImmunology                     7
Psychiatry-Child/Adolescent              7
DCPTEAM                                  6
Dentistry                                4
Pediatrics-Hematology-Oncology           4
Pediatrics-EmergencyMedicine             3
Pediatrics-AllergyandImmunology          3
Resident                                 2
Surgery-PlasticwithinHeadandNeck         1
Proctology                               1
Pediatrics-InfectiousDiseases            1
Perinatology                             1
Psychiatry-Addictive                     1
SportsMedicine                           1
Dermatology                              1
Speech                                   1
Neurophysiology                          1
Name: medical_specialty, Length: 73, dtype: int64

#### Replacing ? with missing in medical speciality

In [29]:
final['medical_specialty'].replace({'?':'missing'},inplace=True) # as close to 50% data is missing, we cannot replace with mode
final['medical_specialty'].value_counts()

missing                              49949
InternalMedicine                     14635
Emergency/Trauma                      7565
Family/GeneralPractice                7440
Cardiology                            5352
Surgery-General                       3099
Nephrology                            1613
Orthopedics                           1400
Orthopedics-Reconstructive            1233
Radiologist                           1140
Pulmonology                            871
Psychiatry                             854
Urology                                685
ObstetricsandGynecology                671
Surgery-Cardiovascular/Thoracic        652
Gastroenterology                       564
Surgery-Vascular                       533
Surgery-Neuro                          468
PhysicalMedicineandRehabilitation      391
Oncology                               348
Pediatrics                             254
Hematology/Oncology                    207
Neurology                              203
Pediatrics-Endocrinology               159
Otolaryngology                         125
Endocrinology                          120
Surgery-Thoracic                       109
Psychology                             101
Podiatry                               100
Surgery-Cardiovascular                  98
                                     ...
Anesthesiology-Pediatric                19
Obstetrics                              19
Pathology                               17
Rheumatology                            17
Anesthesiology                          12
OutreachServices                        12
PhysicianNotFound                       11
Surgery-Maxillofacial                   11
Surgery-Colon&Rectal                    11
Pediatrics-Neurology                    10
Surgery-Pediatric                        8
Endocrinology-Metabolism                 8
AllergyandImmunology                     7
Psychiatry-Child/Adolescent              7
Cardiology-Pediatric                     7
DCPTEAM                                  6
Dentistry                                4
Pediatrics-Hematology-Oncology           4
Pediatrics-EmergencyMedicine             3
Pediatrics-AllergyandImmunology          3
Resident                                 2
Neurophysiology                          1
Surgery-PlasticwithinHeadandNeck         1
Pediatrics-InfectiousDiseases            1
Perinatology                             1
Psychiatry-Addictive                     1
SportsMedicine                           1
Dermatology                              1
Speech                                   1
Proctology                               1
Name: medical_specialty, Length: 73, dtype: int64

In [30]:
final['race'].value_counts()

Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64

#### Replacing ? with mode - Caucasian

In [31]:
final['race'].replace({'?':'Caucasian'},inplace=True)
final['race'].value_counts()

Caucasian          78372
AfricanAmerican    19210
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64

In [32]:
final['gender'].value_counts()

Female             54708
Male               47055
Unknown/Invalid        3
Name: gender, dtype: int64

In [33]:
final['gender'].replace({'Unknown/Invalid':'Female'},inplace=True)
# replacing Unknown/Invalid with mode - Female
final['gender'].value_counts()

Female    54711
Male      47055
Name: gender, dtype: int64

In [34]:
final['age'].value_counts() # no nulls

[70-80)     26068
[60-70)     22483
[50-60)     17256
[80-90)     17197
[40-50)      9685
[30-40)      3775
[90-100)     2793
[20-30)      1657
[10-20)       691
[0-10)        161
Name: age, dtype: int64

In [35]:
final['weight'].value_counts()

?            98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Name: weight, dtype: int64

In [36]:
final['weight'].replace({'?':'missing'},inplace=True)
# replacing ? with missing because almost all are missing values
final['weight'].value_counts()

missing      98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Name: weight, dtype: int64

In [37]:
final['payer_code'].value_counts()

?     40256
MC    32439
HM     6274
SP     5007
BC     4655
MD     3532
CP     2533
UN     2448
CM     1937
OG     1033
PO      592
DM      549
CH      146
WC      135
OT       95
MP       79
SI       55
FR        1
Name: payer_code, dtype: int64

In [38]:
final['payer_code'].replace({'?':'missing'},inplace=True)
# replacing ? with missing because many vals are missing values
final['payer_code'].value_counts()

missing    40256
MC         32439
HM          6274
SP          5007
BC          4655
MD          3532
CP          2533
UN          2448
CM          1937
OG          1033
PO           592
DM           549
CH           146
WC           135
OT            95
MP            79
SI            55
FR             1
Name: payer_code, dtype: int64

In [39]:
final['weight'].value_counts()

missing      98569
[75-100)      1336
[50-75)        897
[100-125)      625
[125-150)      145
[25-50)         97
[0-25)          48
[150-175)       35
[175-200)       11
>200             3
Name: weight, dtype: int64

#### 24 drug columns have no null/missing values

#### admission_type_id, discharge_disposition_id, admission_source_id were numerically encoded as ordinal but they are nominal data. They were handled by replacing the numbers with respective categories to enable one hot encoding.

#### Other columns have no nulls or missing vals

#### Columns having missing values or ? or unknowns are 

1. Race - 2273 missing vals have been replaced by mode - caucasian

2. Gender - 3 unknown vals were replaced with mode - Female

3. payer code - 40% vals are missing - no clear mode

4. medical speciality - 50% vals are missing - no clear mode

5. Weight - 97% vals are missing

6. diag1 - have been handled as a new category - missing

7. diag2 - have been handled as a new category - missing

8. diag3 - have been handled as a new category - missing

### Dropping Weight, payer_code and medical_speciality columns because there is no clear majority for mode imputation.

In [40]:
final=final.drop(['weight','payer_code','medical_specialty'],axis=1)

In [41]:
final.shape

(101766, 47)

In [42]:
final.columns

Index(['patient_nbr', 'diag_1', 'diag_2', 'diag_3', 'number_diagnoses',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'encounter_id', 'race', 'gender', 'age',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient',
       'max_glu_serum', 'A1Cresult', 'metformin', 'repaglinide', 'nateglinide',
       'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide',
       'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose',
       'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton',
       'insulin', 'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [43]:
final['admission_source_id'].value_counts()

EmergencyRoom                                        57494
PhysicianReferral                                    29565
NULL                                                  6781
Transferfromahospital                                 3187
Transferfromanotherhealthcarefacility                 2264
ClinicReferral                                        1104
 TransferfromaSkilledNursingFacility(SNF)              855
HMOReferral                                            187
NotMapped                                              161
NotAvailable                                           125
Court/LawEnforcement                                    16
Transferfromhospitalinpt/samefacresultinasepclaim       12
Transferfromcritialaccesshospital                        8
ExtramuralBirth                                          2
TransferfromAmbulatorySurgeryCenter                      2
NormalDelivery                                           2
SickBaby                                                 1
Name: admission_source_id, dtype: int64

#### Combining multiple similar categories into one

final['admission_source_id'].replace({'NULL':'NA','NotMapped':'NA','NotAvailable':'NA','PhysicianReferral':'Referral',
                                      'ClinicReferral':'Referral','HMOReferral':'Referral','Transferfromahospital':'Transfer'
                                     ,'Transferfromanotherhealthcarefacility':'Transfer',
                                      ' TransferfromaSkilledNursingFacility(SNF)':'Transfer',
                                      'Transferfromhospitalinpt/samefacresultinasepclaim':'Transfer',
                                     'Transferfromcritialaccesshospital':'Transfer','TransferfromAmbulatorySurgeryCenter':'Transfer'
                                     },inplace=True)

In [44]:
final['admission_source_id'].value_counts()

EmergencyRoom                                        57494
PhysicianReferral                                    29565
NULL                                                  6781
Transferfromahospital                                 3187
Transferfromanotherhealthcarefacility                 2264
ClinicReferral                                        1104
 TransferfromaSkilledNursingFacility(SNF)              855
HMOReferral                                            187
NotMapped                                              161
NotAvailable                                           125
Court/LawEnforcement                                    16
Transferfromhospitalinpt/samefacresultinasepclaim       12
Transferfromcritialaccesshospital                        8
ExtramuralBirth                                          2
TransferfromAmbulatorySurgeryCenter                      2
NormalDelivery                                           2
SickBaby                                                 1
Name: admission_source_id, dtype: int64

In [45]:
final['admission_type_id'].value_counts()

Emergency        53990
Elective         18869
Urgent           18480
NULL              5291
NA                4785
Not_Mapped         320
Trauma_Center       21
Newborn             10
Name: admission_type_id, dtype: int64

#### Combining multiple similar categories into one

In [46]:
final['admission_type_id'].replace({'NULL':'NA','NA':'NA','Not_Mapped':'NA',
                                     },inplace=True)

In [47]:
final['admission_type_id'].value_counts()

Emergency        53990
Elective         18869
Urgent           18480
NA               10396
Trauma_Center       21
Newborn             10
Name: admission_type_id, dtype: int64

In [48]:
final['discharge_disposition_id'].value_counts()

ToHome                                                  60234
ToSNF                                                   13954
ToHomeWithHomeHealthCare                                12902
NULL                                                     3691
ToShortTermHosp                                          2128
ToRehab                                                  1993
Expired                                                  1642
ToInpatientCareInst                                      1184
Not_Mapped                                                989
ToICF                                                     815
LeftAMA                                                   623
ToLongTermCare                                            412
Hospice/Home                                              399
Hospice/Med.Facility                                      372
ToPsychiatricHosp.                                        139
ToHomeIVProvider                                          108
MedicareApprovedSwingBed                                   63
ToNursingFac(MedicaidCertified,MedicareNotCertified)       48
InpatientInSameHosp                                        21
SameInst.Outpatient                                        14
AnotherInst.Outpatient                                     11
ExpiredAtHome.MedicaidOnly                                  8
AnotherHospNeonatalCare                                     6
ToFederalHealthCareFac.                                     5
StillPatientOROutpatient                                    3
ExpiredInMedFacility.MedicaidOnly                           2
Name: discharge_disposition_id, dtype: int64

final['discharge_disposition_id'].replace(['ToShortTermHosp','ToSNF','ToICF','ToInpatientCareInst',
                                          'InpatientInSameHosp','AnotherHospNeonatalCare','StillPatientOROutpatient',
                                          'Hospice/Home','Hospice/Med.Facility','MedicareApprovedSwingBed',
                                   'AnotherInst.Outpatient','SameInst.Outpatient','ToRehab','ToLongTermCare',
                                          'ToNursingFac(MedicaidCertified,MedicareNotCertified)','ToFederalHealthCareFac.',
                                          'ToPsychiatricHosp.','ToCAHosp','ToUnknownHCHosp.'],
                                         ['To_further_treatment','To_further_treatment','To_further_treatment',
                                          'To_further_treatment','To_further_treatment','To_further_treatment',
                                          'To_further_treatment','To_further_treatment','To_further_treatment',
                                          'To_further_treatment','To_further_treatment','To_further_treatment',
                                          'To_further_treatment','To_further_treatment','To_further_treatment',
                                          'To_further_treatment','To_further_treatment','To_further_treatment','To_further_treatment'],inplace=True)
final['discharge_disposition_id'].replace(['NULL','Not_Mapped'],['NA','NA'],inplace=True)
final['discharge_disposition_id'].replace(['ToHomeWithHomeHealthCare','ToHomeIVProvider'],['ToHome','ToHome'],inplace=True)
final['discharge_disposition_id'].replace(['ExpiredAtHome.MedicaidOnly','ExpiredInMedFacility.MedicaidOnly'],['Expired','Expired'],inplace=True)

In [49]:
final['discharge_disposition_id'].value_counts()

ToHome                                                  60234
ToSNF                                                   13954
ToHomeWithHomeHealthCare                                12902
NULL                                                     3691
ToShortTermHosp                                          2128
ToRehab                                                  1993
Expired                                                  1642
ToInpatientCareInst                                      1184
Not_Mapped                                                989
ToICF                                                     815
LeftAMA                                                   623
ToLongTermCare                                            412
Hospice/Home                                              399
Hospice/Med.Facility                                      372
ToPsychiatricHosp.                                        139
ToHomeIVProvider                                          108
MedicareApprovedSwingBed                                   63
ToNursingFac(MedicaidCertified,MedicareNotCertified)       48
InpatientInSameHosp                                        21
SameInst.Outpatient                                        14
AnotherInst.Outpatient                                     11
ExpiredAtHome.MedicaidOnly                                  8
AnotherHospNeonatalCare                                     6
ToFederalHealthCareFac.                                     5
StillPatientOROutpatient                                    3
ExpiredInMedFacility.MedicaidOnly                           2
Name: discharge_disposition_id, dtype: int64

In [50]:
#final['discharge_disposition_id'].replace({'To_further_treatment':'To_further_care'},inplace=True)

In [51]:
final['discharge_disposition_id'].value_counts()

ToHome                                                  60234
ToSNF                                                   13954
ToHomeWithHomeHealthCare                                12902
NULL                                                     3691
ToShortTermHosp                                          2128
ToRehab                                                  1993
Expired                                                  1642
ToInpatientCareInst                                      1184
Not_Mapped                                                989
ToICF                                                     815
LeftAMA                                                   623
ToLongTermCare                                            412
Hospice/Home                                              399
Hospice/Med.Facility                                      372
ToPsychiatricHosp.                                        139
ToHomeIVProvider                                          108
MedicareApprovedSwingBed                                   63
ToNursingFac(MedicaidCertified,MedicareNotCertified)       48
InpatientInSameHosp                                        21
SameInst.Outpatient                                        14
AnotherInst.Outpatient                                     11
ExpiredAtHome.MedicaidOnly                                  8
AnotherHospNeonatalCare                                     6
ToFederalHealthCareFac.                                     5
StillPatientOROutpatient                                    3
ExpiredInMedFacility.MedicaidOnly                           2
Name: discharge_disposition_id, dtype: int64

##### Taking data only for DiabetesMed == Yes. This indicates that the patients have been given diabetes medication i.e. they have diabetes. This data consists of 78363 rows.

##### This is justified by DiabetesMed == No has all 24 diabetes drugs as NO. This means that they are not diagnosed with diabetes.

In [52]:
medyes = final[final['diabetesMed']=='Yes']
medyes.shape

(78363, 47)

In [53]:
copymedyes=medyes.copy()

In [54]:
copymedyes.columns

Index(['patient_nbr', 'diag_1', 'diag_2', 'diag_3', 'number_diagnoses',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'encounter_id', 'race', 'gender', 'age',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient',
       'max_glu_serum', 'A1Cresult', 'metformin', 'repaglinide', 'nateglinide',
       'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide',
       'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose',
       'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton',
       'insulin', 'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [55]:
copymedyes.iloc[:,21:44]=copymedyes.iloc[:,21:44].replace(['No','Up','Down','Steady'],[0,1,1,1])

In [56]:
copymedyes.head(15)

,patient_nbr,diag_1,diag_2,diag_3,number_diagnoses,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,encounter_id,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
1,55629189,276,250.01,255,9,Emergency,ToHome,EmergencyRoom,3,149190,...,0,1,0,0,0,0,0,Ch,Yes,>30
2,86047875,648,250,V27,6,Emergency,ToHome,EmergencyRoom,2,64410,...,0,0,0,0,0,0,0,No,Yes,NO
3,82442376,8,250.43,403,7,Emergency,ToHome,EmergencyRoom,2,500364,...,0,1,0,0,0,0,0,Ch,Yes,NO
4,42519267,197,157,250,5,Emergency,ToHome,EmergencyRoom,1,16680,...,0,1,0,0,0,0,0,Ch,Yes,NO
5,82637451,414,411,250,9,Urgent,ToHome,ClinicReferral,3,35754,...,0,1,0,0,0,0,0,No,Yes,>30
6,84259809,414,411,V45,7,Elective,ToHome,ClinicReferral,4,55842,...,0,1,0,0,0,0,0,Ch,Yes,NO
7,114882984,428,492,250,8,Emergency,ToHome,EmergencyRoom,5,63768,...,0,0,0,0,0,0,0,No,Yes,>30
8,48330783,398,427,38,8,Urgent,ToHome,Transferfromahospital,13,12522,...,0,1,0,0,0,0,0,Ch,Yes,NO
9,63555939,434,198,486,8,Elective,ToSNF,Transferfromahospital,12,15738,...,0,1,0,0,0,0,0,Ch,Yes,NO
10,89869032,250.7,403,996,9,Emergency,ToHome,EmergencyRoom,9,28236,...,0,1,0,0,0,0,0,No,Yes,>30
11,77391171,157,288,197,7,Urgent,ToHome,Transferfromahospital,7,36900,...,0,1,0,0,0,0,0,Ch,Yes,<30
12,85504905,428,250.43,250.6,8,Emergency,ToSNF,EmergencyRoom,7,40926,...,0,1,0,0,0,0,0,Ch,Yes,<30
13,77586282,428,411,427,8,Emergency,ToHomeWithHomeHealthCare,EmergencyRoom,10,42570,...,0,1,0,0,0,0,0,No,Yes,NO
14,49726791,518,998,627,8,Elective,ToHome,ClinicReferral,1,62256,...,0,1,0,0,0,0,0,No,Yes,>30
15,86328819,999,507,996,9,Emergency,ToSNF,EmergencyRoom,12,73578,...,0,1,0,0,0,0,0,Ch,Yes,NO

In [57]:
# counting the total no. of drugs given to each diabetic patient
copymedyes['Total_drugs'] =copymedyes.iloc[:,21:44].sum(axis=1)
copymedyes.head(15)

,patient_nbr,diag_1,diag_2,diag_3,number_diagnoses,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,encounter_id,...,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,Total_drugs
1,55629189,276,250.01,255,9,Emergency,ToHome,EmergencyRoom,3,149190,...,1,0,0,0,0,0,Ch,Yes,>30,1
2,86047875,648,250,V27,6,Emergency,ToHome,EmergencyRoom,2,64410,...,0,0,0,0,0,0,No,Yes,NO,1
3,82442376,8,250.43,403,7,Emergency,ToHome,EmergencyRoom,2,500364,...,1,0,0,0,0,0,Ch,Yes,NO,1
4,42519267,197,157,250,5,Emergency,ToHome,EmergencyRoom,1,16680,...,1,0,0,0,0,0,Ch,Yes,NO,2
5,82637451,414,411,250,9,Urgent,ToHome,ClinicReferral,3,35754,...,1,0,0,0,0,0,No,Yes,>30,1
6,84259809,414,411,V45,7,Elective,ToHome,ClinicReferral,4,55842,...,1,0,0,0,0,0,Ch,Yes,NO,3
7,114882984,428,492,250,8,Emergency,ToHome,EmergencyRoom,5,63768,...,0,0,0,0,0,0,No,Yes,>30,1
8,48330783,398,427,38,8,Urgent,ToHome,Transferfromahospital,13,12522,...,1,0,0,0,0,0,Ch,Yes,NO,2
9,63555939,434,198,486,8,Elective,ToSNF,Transferfromahospital,12,15738,...,1,0,0,0,0,0,Ch,Yes,NO,2
10,89869032,250.7,403,996,9,Emergency,ToHome,EmergencyRoom,9,28236,...,1,0,0,0,0,0,No,Yes,>30,1
11,77391171,157,288,197,7,Urgent,ToHome,Transferfromahospital,7,36900,...,1,0,0,0,0,0,Ch,Yes,<30,2
12,85504905,428,250.43,250.6,8,Emergency,ToSNF,EmergencyRoom,7,40926,...,1,0,0,0,0,0,Ch,Yes,<30,3
13,77586282,428,411,427,8,Emergency,ToHomeWithHomeHealthCare,EmergencyRoom,10,42570,...,1,0,0,0,0,0,No,Yes,NO,1
14,49726791,518,998,627,8,Elective,ToHome,ClinicReferral,1,62256,...,1,0,0,0,0,0,No,Yes,>30,1
15,86328819,999,507,996,9,Emergency,ToSNF,EmergencyRoom,12,73578,...,1,0,0,0,0,0,Ch,Yes,NO,1

In [58]:
copymedyes['Total_drugs'].value_counts()

1    47314
2    21873
3     7778
4     1335
5       58
6        5
Name: Total_drugs, dtype: int64

In [59]:
z=copymedyes[copymedyes['Total_drugs']==1]
z.shape

(47314, 48)

In [60]:
z.iloc[:,21:44].columns.shape # 23 drugs for data having total_drugs = 1

(23,)

In [61]:
z.iloc[:,21:44].sum(axis=0) # value counts of SOLO DRUGS where total_drugs=1

metformin                    4484
repaglinide                   384
nateglinide                   153
chlorpropamide                 59
glimepiride                  1348
acetohexamide                   0
glipizide                    3868
glyburide                    3374
tolbutamide                    13
pioglitazone                 1336
rosiglitazone                1057
acarbose                       38
miglitol                        9
troglitazone                    0
tolazamide                     20
examide                         0
citoglipton                     0
insulin                     30965
glyburide-metformin           204
glipizide-metformin             2
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
dtype: int64

In [62]:
lst = z.iloc[:,21:44].sum(axis=0).index
lst

Index(['metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone'],
      dtype='object')

In [63]:
def soloinsulin(df):
    lst=[]
    for i in range(len(df)):
        if df.iloc[i,47] >=2:
            lst.append(0)
        else:
            if df.iloc[i,38] ==1:
                lst.append(1)
            else:
                lst.append(0)
    return lst

In [64]:
copymedyes['Solo_Insulin'] =soloinsulin(copymedyes)
copymedyes['Solo_Insulin'].value_counts()

0    47398
1    30965
Name: Solo_Insulin, dtype: int64

In [65]:
copymedyes.columns

Index(['patient_nbr', 'diag_1', 'diag_2', 'diag_3', 'number_diagnoses',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'encounter_id', 'race', 'gender', 'age',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient',
       'max_glu_serum', 'A1Cresult', 'metformin', 'repaglinide', 'nateglinide',
       'chlorpropamide', 'glimepiride', 'acetohexamide', 'glipizide',
       'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose',
       'miglitol', 'troglitazone', 'tolazamide', 'examide', 'citoglipton',
       'insulin', 'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted',
       'Total_drugs', 'Solo_Insulin'],
      dtype='object')

In [66]:
totaldrugs=copymedyes['Total_drugs']
soloinsulin=copymedyes['Solo_Insulin']

In [67]:
medyes['Total_drugs'] = totaldrugs
medyes['Solo_Insulin'] = soloinsulin
medyes.head(15)

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,patient_nbr,diag_1,diag_2,diag_3,number_diagnoses,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,encounter_id,...,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,Total_drugs,Solo_Insulin
1,55629189,276,250.01,255,9,Emergency,ToHome,EmergencyRoom,3,149190,...,No,No,No,No,No,Ch,Yes,>30,1,1
2,86047875,648,250,V27,6,Emergency,ToHome,EmergencyRoom,2,64410,...,No,No,No,No,No,No,Yes,NO,1,0
3,82442376,8,250.43,403,7,Emergency,ToHome,EmergencyRoom,2,500364,...,No,No,No,No,No,Ch,Yes,NO,1,1
4,42519267,197,157,250,5,Emergency,ToHome,EmergencyRoom,1,16680,...,No,No,No,No,No,Ch,Yes,NO,2,0
5,82637451,414,411,250,9,Urgent,ToHome,ClinicReferral,3,35754,...,No,No,No,No,No,No,Yes,>30,1,1
6,84259809,414,411,V45,7,Elective,ToHome,ClinicReferral,4,55842,...,No,No,No,No,No,Ch,Yes,NO,3,0
7,114882984,428,492,250,8,Emergency,ToHome,EmergencyRoom,5,63768,...,No,No,No,No,No,No,Yes,>30,1,0
8,48330783,398,427,38,8,Urgent,ToHome,Transferfromahospital,13,12522,...,No,No,No,No,No,Ch,Yes,NO,2,0
9,63555939,434,198,486,8,Elective,ToSNF,Transferfromahospital,12,15738,...,No,No,No,No,No,Ch,Yes,NO,2,0
10,89869032,250.7,403,996,9,Emergency,ToHome,EmergencyRoom,9,28236,...,No,No,No,No,No,No,Yes,>30,1,1
11,77391171,157,288,197,7,Urgent,ToHome,Transferfromahospital,7,36900,...,No,No,No,No,No,Ch,Yes,<30,2,0
12,85504905,428,250.43,250.6,8,Emergency,ToSNF,EmergencyRoom,7,40926,...,No,No,No,No,No,Ch,Yes,<30,3,0
13,77586282,428,411,427,8,Emergency,ToHomeWithHomeHealthCare,EmergencyRoom,10,42570,...,No,No,No,No,No,No,Yes,NO,1,1
14,49726791,518,998,627,8,Elective,ToHome,ClinicReferral,1,62256,...,No,No,No,No,No,No,Yes,>30,1,1
15,86328819,999,507,996,9,Emergency,ToSNF,EmergencyRoom,12,73578,...,No,No,No,No,No,Ch,Yes,NO,1,1

In [68]:
medyes['Total_drugs'].value_counts()

1    47314
2    21873
3     7778
4     1335
5       58
6        5
Name: Total_drugs, dtype: int64

In [69]:
medyes['Solo_Insulin'].value_counts()

0    47398
1    30965
Name: Solo_Insulin, dtype: int64

In [70]:
medyes.to_csv('Medyes.csv',index=0)

### Data with DiabetesMed=Yes, Solo_Insulin=1

In [71]:
soloins=medyes[medyes['Solo_Insulin']==1] 
soloins.shape

(30965, 49)

In [72]:
soloins['patient_nbr'].nunique() # unique patients who were treated with only insulin

23013

### Number of unique patients in soloins = 23013

In [73]:
def count_readmitted(x):
    if len(x) == 1:
        return 0
    else:
        return 1

In [74]:
insulin_effectiveness=pd.DataFrame(soloins.groupby(soloins['patient_nbr']).apply(count_readmitted),columns=['Readmitted'])

In [75]:
insulin_effectiveness.shape

(23013, 1)

In [76]:
insulin_effectiveness['Readmitted'].value_counts()

0    18636
1     4377
Name: Readmitted, dtype: int64

### Out of 23013 unique patients who were given only insulin to treat their diabetes, 4377 patients got readmitted and 18636 did not get readmitted

## 81% of diabetes patients who were given solo insulin treatment were not readmitted

## This is a good indicator that solo insulin procedure works effectively

In [77]:
temp=soloins['change'].value_counts()
len(temp.index)

2

In [78]:
def count_change(x):
    temp=x['change'].value_counts()
    if len(temp.index) == 2:
        return temp['Ch']
    else:
        return 0

In [79]:
number_change = pd.DataFrame(soloins.groupby(soloins['patient_nbr']).apply(count_change),columns=['Change_Count'])

In [80]:
number_change.shape

(23013, 1)

In [81]:
number_change['Change_Count'].value_counts()

0     21291
1      1089
2       344
3       146
4        61
5        35
6        14
7        11
8         7
9         4
12        3
11        2
10        2
20        2
14        1
19        1
Name: Change_Count, dtype: int64

#### Medication was not changed for 92% unique diabetes patients who were treated with solo insulin

### Dataset for EDA in Tableau

In [82]:
medyes.shape

(78363, 49)

In [83]:
sorted(medyes['patient_nbr'].unique())

[135,
 729,
 774,
 927,
 1152,
 1305,
 1314,
 1629,
 2025,
 3069,
 5220,
 5337,
 6174,
 6309,
 6696,
 6723,
 6939,
 8208,
 8460,
 8748,
 10377,
 11394,
 11511,
 12105,
 12240,
 12447,
 13005,
 13041,
 13320,
 13590,
 14481,
 14499,
 14535,
 14688,
 14796,
 14859,
 14949,
 15210,
 15642,
 16425,
 16623,
 18045,
 20232,
 20295,
 20565,
 20772,
 20997,
 22158,
 22527,
 24030,
 24525,
 24696,
 25362,
 25434,
 25956,
 26352,
 27333,
 27486,
 27936,
 28530,
 29961,
 30051,
 30735,
 31320,
 31392,
 31752,
 31878,
 32022,
 32337,
 32967,
 33264,
 33354,
 33930,
 34353,
 35271,
 36432,
 36738,
 36810,
 37125,
 37305,
 37863,
 38601,
 38637,
 38970,
 39006,
 39051,
 40104,
 40158,
 40392,
 40797,
 41328,
 42111,
 42120,
 42417,
 42867,
 43515,
 44154,
 44766,
 45036,
 45144,
 48150,
 48573,
 48996,
 49860,
 50472,
 52605,
 53505,
 54198,
 55629,
 55638,
 56295,
 56430,
 56520,
 58302,
 58374,
 60399,
 62487,
 62937,
 62964,
 63090,
 63288,
 63630,
 63702,
 64773,
 66618,
 66915,
 67275,
 67428,
 68301,
 68625,
 68652,
 68697,
 69489,
 69777,
 69912,
 69921,
 70020,
 70110,
 70533,
 70623,
 71127,
 71856,
 72027,
 72504,
 73206,
 73377,
 73881,
 74133,
 74952,
 75042,
 75051,
 75240,
 75726,
 76032,
 76122,
 76374,
 76986,
 77769,
 78129,
 78246,
 78408,
 78435,
 79614,
 80046,
 81828,
 82170,
 82431,
 83106,
 83223,
 83853,
 83880,
 84834,
 84924,
 85761,
 86625,
 86967,
 87003,
 87039,
 87138,
 87183,
 87255,
 88047,
 88974,
 89469,
 89505,
 89676,
 91161,
 91188,
 91206,
 91305,
 91665,
 93078,
 93087,
 93231,
 93285,
 93735,
 94518,
 94527,
 95544,
 95670,
 96129,
 96966,
 97245,
 97911,
 98748,
 99009,
 100035,
 100458,
 102105,
 102762,
 103059,
 103140,
 103653,
 103995,
 104391,
 105264,
 105282,
 105345,
 105669,
 106164,
 106677,
 107154,
 107460,
 107721,
 108009,
 108477,
 109404,
 109611,
 111033,
 111555,
 112356,
 112392,
 112545,
 113652,
 114309,
 114849,
 115092,
 115200,
 115605,
 116091,
 116586,
 117342,
 117657,
 118188,
 118215,
 118224,
 118809,
 119061,
 119961,
 120330,
 121536,
 122850,
 123003,
 124074,
 124209,
 124686,
 124803,
 125460,
 125613,
 125793,
 126396,
 126864,
 127575,
 129276,
 129690,
 130131,
 130257,
 130680,
 131706,
 131769,
 131850,
 132129,
 132138,
 132165,
 132318,
 132327,
 132507,
 132705,
 132795,
 133173,
 133335,
 133443,
 133569,
 135261,
 135657,
 135972,
 136359,
 137052,
 137133,
 137529,
 137916,
 138168,
 140346,
 140355,
 140778,
 142101,
 143505,
 144306,
 147564,
 147726,
 147762,
 148221,
 148581,
 148671,
 148896,
 149004,
 149283,
 149517,
 149643,
 152640,
 152937,
 153378,
 153846,
 154206,
 154512,
 154638,
 154746,
 154872,
 156375,
 157248,
 158328,
 158715,
 159201,
 159534,
 159885,
 160065,
 160524,
 161253,
 162648,
 163179,
 163260,
 163575,
 163890,
 163989,
 167184,
 167517,
 168246,
 168435,
 168516,
 169029,
 169218,
 169245,
 169425,
 170577,
 171054,
 171612,
 171639,
 171918,
 172296,
 173304,
 173790,
 175374,
 175770,
 175824,
 175860,
 177534,
 178236,
 178848,
 179379,
 179649,
 179820,
 179937,
 179973,
 180720,
 180729,
 181134,
 181854,
 181908,
 182673,
 183096,
 183906,
 184248,
 185535,
 186048,
 186327,
 189279,
 189432,
 191502,
 191691,
 192231,
 192348,
 193176,
 193230,
 193923,
 194031,
 194202,
 195219,
 195372,
 196578,
 196605,
 196758,
 197226,
 197424,
 198702,
 198873,
 199089,
 199197,
 199557,
 199737,
 200934,
 202284,
 202464,
 202608,
 204039,
 205587,
 205803,
 206118,
 206289,
 206595,
 206775,
 206946,
 208071,
 208521,
 209745,
 210024,
 211032,
 211572,
 211689,
 211815,
 211932,
 212202,
 212625,
 212688,
 212895,
 214182,
 214668,
 216603,
 217206,
 217233,
 217449,
 217548,
 217611,
 217647,
 218268,
 218358,
 218835,
 219888,
 220977,
 222156,
 223011,
 226206,
 226440,
 226467,
 227862,
 228420,
 228528,
 230076,
 230184,
 230697,
 230922,
 231237,
 231246,
 231975,
 232137,
 233217,
 235017,
 235323,
 235737,
 236160,
 236196,
 236232,
 236349,
 238005,
 241137,
 241668,
 241839,
 241947,
 242316,
 242361,
 242370,
 242757,
 242784,
 243027,
 244305,
 244629,
 245061,
 245511,
 245745,
 245763,
 245997,
 246213,
 246870,
 247779,
 248706,
 249489,
 249912,
 250362,
 251451,
 254259,
 256014,
 256347,
 257535,
 259470,
 259884,
 260631,
 260739,
 261432,
 263826,
 264960,
 265401,
 267858,
 269838,
 270063,
 272268,
 272448,
 272655,
 275292,
 275904,
 276264,
 276606,
 276750,
 277065,
 277371,
 277785,
 277812,
 278334,
 278478,
 278739,
 278811,
 278892,
 278919,
 279009,
 279252,
 279585,
 279909,
 279936,
 280026,
 280692,
 280989,
 281457,
 282078,
 283041,
 283554,
 283689,
 283770,
 283869,
 284400,
 284850,
 285282,
 285840,
 287640,
 287820,
 287964,
 288054,
 288468,
 288873,
 289494,
 291186,
 292284,
 292419,
 292788,
 293139,
 293634,
 293967,
 294039,
 294201,
 294273,
 294336,
 295110,
 296010,
 296469,
 296622,
 296820,
 296829,
 296937,
 297171,
 299349,
 299529,
 300825,
 301203,
 301779,
 301896,
 302373,
 302652,
 303471,
 303651,
 304164,
 304956,
 304992,
 305640,
 305793,
 306090,
 306252,
 307278,
 307746,
 308619,
 308691,
 308709,
 308727,
 308754,
 308790,
 309447,
 309762,
 309951,
 310005,
 310032,
 310806,
 311157,
 311418,
 311490,
 311679,
 312183,
 312498,
 313236,
 313272,
 313416,
 313515,
 314550,
 314721,
 315414,
 315423,
 315684,
 316764,
 317214,
 317259,
 317934,
 318087,
 318501,
 319194,
 319563,
 320814,
 321102,
 321120,
 321768,
 322353,
 323262,
 323406,
 323739,
 323829,
 323955,
 324009,
 324117,
 324702,
 325170,
 325980,
 327474,
 327609,
 327672,
 327915,
 328095,
 328698,
 328887,
 329094,
 329472,
 329526,
 329616,
 330615,
 330741,
 331182,
 334062,
 334710,
 334737,
 334854,
 335421,
 336501,
 336645,
 336897,
 337320,
 338247,
 338346,
 338904,
 338976,
 339651,
 340488,
 341316,
 342243,
 343584,
 344403,
 344844,
 345204,
 345276,
 345510,
 345708,
 346374,
 346482,
 347508,
 347697,
 348120,
 348624,
 348696,
 349569,
 350469,
 350784,
 350802,
 351198,
 351387,
 351495,
 351522,
 352377,
 352764,
 352890,
 353124,
 354132,
 354303,
 354474,
 354690,
 355401,
 355680,
 355824,
 355923,
 355986,
 356148,
 356184,
 356796,
 357345,
 358812,
 359640,
 360711,
 361062,
 361566,
 361962,
 362331,
 362466,
 362610,
 365139,
 365328,
 367425,
 368271,
 369108,
 369684,
 370152,
 371025,
 371412,
 371538,
 371646,
 372024,
 372429,
 372744,
 373014,
 373077,
 374130,
 374922,
 375291,
 375498,
 375921,
 376200,
 376398,
 376947,
 377523,
 377712,
 377964,
 378045,
 378630,
 378864,
 379224,
 379566,
 380196,
 380439,
 380691,
 380808,
 380826,
 381060,
 381843,
 382653,
 383058,
 383922,
 384408,
 384696,
 384750,
 384777,
 384813,
 384939,
 385317,
 385974,
 386271,
 386541,
 386973,
 387675,
 389043,
 389061,
 389196,
 389637,
 389862,
 390411,
 390429,
 391023,
 391644,
 391743,
 391752,
 392463,
 394416,
 395559,
 395658,
 396495,
 396558,
 397098,
 398313,
 398700,
 398871,
 399474,
 399537,
 400131,
 400275,
 400500,
 402273,
 402471,
 402822,
 402966,
 404289,
 404370,
 405963,
 407781,
 408168,
 408663,
 409104,
 411552,
 411642,
 412038,
 412056,
 412443,
 413991,
 414639,
 415674,
 416565,
 416709,
 416835,
 417618,
 418113,
 419355,
 419832,
 420039,
 420444,
 421155,
 421686,
 422577,
 422919,
 423387,
 424053,
 425277,
 425538,
 425817,
 426276,
 426744,
 427482,
 428733,
 429228,
 429633,
 430092,
 430641,
 431667,
 431748,
 433800,
 434565,
 434583,
 434871,
 435366,
 436446,
 437553,
 437868,
 437886,
 438021,
 438183,
 438615,
 438723,
 439002,
 439407,
 439452,
 439470,
 439884,
 440136,
 440271,
 441288,
 441513,
 442323,
 442341,
 442683,
 442782,
 443016,
 443358,
 443916,
 444357,
 444726,
 446346,
 447453,
 448137,
 448839,
 448875,
 448974,
 449055,
 450189,
 450594,
 450675,
 450927,
 451143,
 453267,
 454950,
 455436,
 455589,
 456696,
 456804,
 458415,
 459477,
 459639,
 459702,
 459747,
 459891,
 460017,
 460359,
 460989,
 461520,
 461583,
 461727,
 461799,
 461880,
 462060,
 462096,
 462132,
 462312,
 462537,
 462825,
 463230,
 463302,
 463473,
 463824,
 463932,
 464085,
 464319,
 465462,
 466524,
 466632,
 466713,
 466947,
 467199,
 467208,
 467496,
 467586,
 467613,
 467730,
 467748,
 468477,
 468963,
 469206,
 469458,
 469692,
 470592,
 470754,
 470871,
 471015,
 471951,
 472185,
 473265,
 473463,
 474318,
 474426,
 476811,
 476946,
 478206,
 478755,
 479736,
 479934,
 481671,
 481689,
 481788,
 482094,
 482292,
 482355,
 482679,
 482769,
 483255,
 483561,
 483957,
 485073,
 485316,
 485838,
 486162,
 486189,
 486621,
 487080,
 487224,
 487350,
 487449,
 488556,
 489186,
 489735,
 489789,
 489978,
 490356,
 490545,
 490572,
 490986,
 491643,
 491760,
 492012,
 492210,
 492948,
 493038,
 493074,
 493632,
 493911,
 495162,
 497106,
 497178,
 497439,
 497907,
 498024,
 498411,
 498798,
 499581,
 499743,
 499995,
 ...]

In [84]:
new_data=pd.DataFrame(sorted(medyes['patient_nbr'].unique()),columns=['patient_nbr'])
new_data.head()

   patient_nbr
0          135
1          729
2          774
3          927
4         1152

In [85]:
medyes.index=np.arange(len(medyes))

In [86]:
def race_name(x):
    lst=x['race'].values
    return lst[0]

In [87]:
new_data['race'] =medyes.groupby(medyes['patient_nbr']).apply(race_name).values
new_data.head(10)

   patient_nbr             race
0          135        Caucasian
1          729        Caucasian
2          774        Caucasian
3          927  AfricanAmerican
4         1152  AfricanAmerican
5         1305        Caucasian
6         1314        Caucasian
7         1629        Caucasian
8         2025        Caucasian
9         3069        Caucasian

In [88]:
new_data['patient_nbr'].isnull().sum()

0

In [89]:
def gender_name(x):
    lst=x['gender'].values
    return lst[0]

In [90]:
new_data['gender'] = medyes.groupby(medyes['patient_nbr']).apply(gender_name).values
new_data.head(10)

   patient_nbr             race  gender
0          135        Caucasian  Female
1          729        Caucasian  Female
2          774        Caucasian  Female
3          927  AfricanAmerican  Female
4         1152  AfricanAmerican  Female
5         1305        Caucasian  Female
6         1314        Caucasian  Female
7         1629        Caucasian    Male
8         2025        Caucasian  Female
9         3069        Caucasian    Male

In [91]:
new_data['gender'].value_counts()

Female    29607
Male      26571
Name: gender, dtype: int64

In [92]:
def age_cat(x):
    lst=x['age'].values
    return lst[0]

In [93]:
new_data['age']=medyes.groupby(medyes['patient_nbr']).apply(age_cat).values
new_data.head(10)

   patient_nbr             race  gender      age
0          135        Caucasian  Female  [50-60)
1          729        Caucasian  Female  [80-90)
2          774        Caucasian  Female  [80-90)
3          927  AfricanAmerican  Female  [30-40)
4         1152  AfricanAmerican  Female  [50-60)
5         1305        Caucasian  Female  [60-70)
6         1314        Caucasian  Female  [40-50)
7         1629        Caucasian    Male  [70-80)
8         2025        Caucasian  Female  [70-80)
9         3069        Caucasian    Male  [60-70)

In [94]:
def readmitted(x):
    if len(x)>1:
        return 'Readmitted'
    else:
        return 'Not Readmitted'

In [95]:
new_data['readmitted_status'] =medyes.groupby(medyes['patient_nbr']).apply(readmitted).values
new_data.head()

   patient_nbr             race  gender      age readmitted_status
0          135        Caucasian  Female  [50-60)        Readmitted
1          729        Caucasian  Female  [80-90)    Not Readmitted
2          774        Caucasian  Female  [80-90)    Not Readmitted
3          927  AfricanAmerican  Female  [30-40)    Not Readmitted
4         1152  AfricanAmerican  Female  [50-60)        Readmitted

In [96]:
new_data['readmitted_status'].value_counts()

Not Readmitted    43596
Readmitted        12582
Name: readmitted_status, dtype: int64

In [97]:
medyes.shape

(78363, 49)

In [98]:
def drug_type(x):
    solo=0
    oth=0
    for i in range(len(x)):
        if x.iloc[i,48]==1:
            solo+=1
        else:
            oth+=1
    if oth==0:
        return 'SoloInsulin'
    elif solo==0:
        return 'Other'
    else:
        return 'Both'

In [99]:
new_data['solo/other/both'] =medyes.groupby(medyes['patient_nbr']).apply(drug_type).values
new_data.head(10)

,patient_nbr,race,gender,age,readmitted_status,solo/other/both
0,135,Caucasian,Female,[50-60),Readmitted,Other
1,729,Caucasian,Female,[80-90),Not Readmitted,Other
2,774,Caucasian,Female,[80-90),Not Readmitted,Other
3,927,AfricanAmerican,Female,[30-40),Not Readmitted,Other
4,1152,AfricanAmerican,Female,[50-60),Readmitted,SoloInsulin
5,1305,Caucasian,Female,[60-70),Not Readmitted,SoloInsulin
6,1314,Caucasian,Female,[40-50),Readmitted,Both
7,1629,Caucasian,Male,[70-80),Not Readmitted,SoloInsulin
8,2025,Caucasian,Female,[70-80),Not Readmitted,Other
9,3069,Caucasian,Male,[60-70),Not Readmitted,SoloInsulin

In [100]:
medyes[medyes['patient_nbr']==1314]

,patient_nbr,diag_1,diag_2,diag_3,number_diagnoses,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,encounter_id,...,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,Total_drugs,Solo_Insulin
11620,1314,996,411,401,9,Urgent,ToHome,PhysicianReferral,2,60254142,...,No,No,No,No,No,No,Yes,>30,1,1
14480,1314,414,411,250.01,7,Emergency,ToHome,EmergencyRoom,1,70190028,...,No,No,No,No,No,No,Yes,<30,1,1
14590,1314,78,250,414,7,Emergency,ToHome,EmergencyRoom,3,70601076,...,No,No,No,No,No,Ch,Yes,NO,2,0

In [101]:
def diagnosis(x):
    for i in range(len(x)):
         if(( x.iloc[i,1].startswith('250.') == True) or ( x.iloc[i,2].startswith('250.') == True) or 
            ( x.iloc[i,3].startswith('250.') == True)):

SyntaxError: unexpected EOF while parsing (<ipython-input-101-951c532d502f>, line 5)

In [1]:
import pandas as pd

In [2]:
final=pd.read_csv('Final_Data.csv')

In [13]:
final[final['diag_1']=='?']

518      ?
1006     ?
1267     ?
1488     ?
3197     ?
7845     ?
14503    ?
19714    ?
32514    ?
37693    ?
49516    ?
56931    ?
57058    ?
57737    ?
60314    ?
61369    ?
61763    ?
66848    ?
86018    ?
87181    ?
98396    ?
Name: diag_1, dtype: object

In [ ]:
]